.titre{
    color: pink;
    font-weight: bolder;
    text-align: center;
}

.Nav{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.chap{
    color: gray;
}

.grParent{
    display: flex;
    margin-top: 100px;
    
}

.child{
    margin-bottom: 40px;
    margin-left:140px;
    
}
.child1{
    margin-bottom: 40px;
    margin-left:50px;
    
}
img{
    width: 450px;
    height: 250px;
}

form{
    margin-left: 500px;
    margin-top:50px;
    margin-bottom: 50px;
}

footer{
    margin-top: 50px;
    padding-bottom:50px;
}

@media screen and (max-width: 1199px){
    img{
        width: 270px;
        height: 170px;
    }
    .child{
        margin-bottom: 40px;
        margin-left:160px;
        
    }
    .child1{
        margin-bottom: 40px;
        margin-left:70px;
        
    }
    form{
        margin-left: 350px;
    }
    
    
}

@media screen and (max-width: 991px){
    img{
        width: 200px;
        height: 100px;
    }
    form{
        margin-left:250px
    }
}

@media screen and (max-width: 767px){
    img{
        width: 150px;
        height: 50px;;
    }
    .child{
        margin-left:120px;
    }
    .child1{
        margin-left:30px;
    }
    form{
        margin-left:100px;
    }
}


@media screen and (max-width: 534px){
    .child{
        margin-left:80px
    }
    
}




